.reveal .slides{
  padding-bottom: 2em;
}

.reveal section.slide{
  background: rgba(255,255,255,0.5);
  -webkit-border-radius: 20px;
          border-radius: 20px;
}

.reveal h1 {
  font-size: 1.8em;
}

.reveal h2 {
  font-size: 1.5em;
}

.reveal h1, .reveal h2 {
  text-transform: none;
}

.reveal section img {
  border: 0 solid transparent;
  background: transparent;
  box-shadow: none;
}
